#jumbo {
  margin-top: 54px;
  background:
        linear-gradient(rgba(7, 11, 11, 0.4), rgba(7, 11, 11, 0.4)),
        url("../img/header.jpg") no-repeat fixed 0px / cover;
  position: relative;
  text-align: center;
  color: #fff;
}

#contentBlock {
  max-width: 700px;
}

#photoBox {
  max-width: 200px;
  margin: auto;
}

#profileImg {
  width: 100%;
  height: auto;
}

.sectionBlocks {
  margin-bottom: 2em;
}

#booklist {
  margin-bottom: 2em;
}

#bookTitle {
  max-width: 60%;
}

#addBookButton {
  margin-bottom: 2em;
}

footer {
  margin-bottom: 1em;
}
