/*Additional Styling that is not included in Bootstrap*/

/* Add a background image to the jumbotron */
#jumbo {
  margin-top: 54px;
  background:
        linear-gradient(rgba(7, 11, 11, 0.4), rgba(7, 11, 11, 0.4)),
        url("../img/header.jpg") no-repeat fixed 0px / cover;
  position: relative;
  text-align: center;
  color: #fff;
}

/* Add content styling */
#contentBlock {
  max-width: 700px;
}
#bookTitle {
  max-width: 60%;
}
.sectionBlocks,
#booklist,
#addBookButton,
footer,
#footer-credit {
  margin-bottom: 2em;
}

/*Style the profile image*/
#photoBox {
  max-width: 200px;
  margin: auto;
}
#profileImg {
  width: 100%;
  height: auto;
}
